<!DOCTYPE html>
<html>
  <head>
      <meta cahrset='utf-8'>  
      <title>PlantsPlace</title>
      <link rel='stylesheet' href='css/bootstrap.min.css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel='stylesheet' href='css/style.css'>
      <style>

    </style>
 
      
  </head>

  <body>
     <!--Navigation-->
     <nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">
      <!--Nav panel--> 
      <!--Toggle button for small devices-->
      <a class="navbar-brand" href="main.html">Plants Place</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <!--/Toggle button for small devices-->

        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
          <ul class="navbar-nav mr-auto">
            
            <!--NavItem-->
            <li class="nav-item nav-link">
              <a class="nav-link" href="main.html">Главная</a>
            </li>
            <!--/NavItem-->

            <!--NavItem-->
            <li class="nav-item nav-link">
                <a class="nav-link" href="contact-us.html">Напишите нам</a>
              </li>
              <!--/NavItem-->
            
            <!--NavItem-->
            <li class="nav-item dropdown nav-link" >
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Каталог
              </a>
              <div class="dropdown-menu my-dropdown" aria-labelledby="navbarDropdown">
                <div class="dropdown-submenu dropdown">
                    <a class="test dropdown-item green-item" tabindex="-1" href="catalog.html">Цветы&nbsp;&nbsp;&rarr;</a>
                    <ul class="dropdown-menu inside-menu green-item">
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">Не привередливые</a></li>
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">Часто цветут</a></li>
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">Привередливые</a></li>
                        
                      </li>
                    </ul>
                </div>
                
                <div class="dropdown-submenu">
                    <a class="test dropdown-item my-dropdown" tabindex="-1" href="catalog.html">Деревья&nbsp;&nbsp;&rarr;<span class="glyphicon glyphicon-play"></span></a>
                    <ul class="dropdown-menu inside-menu">
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">Большие листья</a></li>
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">Бонсай</a></li>
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">Не привередливые</a></li>
                      
                        
                      </li>
                    </ul>
                </div>

                <div class="dropdown-submenu">
                    <a class="test dropdown-item my-dropdown" tabindex="-1" href="catalog.html">Лиана&nbsp;&nbsp;&rarr;<span class="glyphicon glyphicon-play"></span></a>
                    <ul class="dropdown-menu inside-menu">
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">Большие листья</a></li>
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">С цветами</a></li>
                      <li><a class="dropdown-item green-item" tabindex="-1" href="catalog.html">Быстро растут</a></li>
                      
                        
                      </li>
                    </ul>
                </div>
             </div>
            </li>
            <!--/NavItem-->
            
            
            
          </ul>
          <!--/Nav panel-->
          <!--Search-->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Поиск</button>
          </form>
          <!--NavItem-->
        <li class="nav-item nav-link nav-log-in">
            <a class="nav-link" href="login.html">Log In</a>
        </li>
          <!--/NavItem-->
          <!--/Search-->
        </div>
        
      </nav>
      <!--/Navigation-->
      <header class="super-content">
      
        <!--Header Banner-->
        <div class="head-banner">
          <img class="head-photo" src="images/photo-banner1.jpeg">
          <div class="head-photo-text">
            <h1>Something smart</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <!--Header Banner-->
        <!--Header Posts-->
        <div class="head-sec">
          <div class="container head-sec">
              <div class="row">
                
                <!--HeadItem-->
                <div class="col-md-6 col-sm-12 head-item">
                    <a href="blog-post.html"><img class="head-image" src="images/index.jpeg"></a>
                    <a href="blog-post.html"><div class="head-bg"></div></a>
                    <div class="head-text">
                        <div class="category"><p>Flowers</p></div>
                        <h3><a href="blog-post.html" class="news-head">Orchid is so beautiful</a></h3>
                        <div class="created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                    </div>
                </div>
                <!--/HeadItem-->
                
                
                <!--HeadItem-->
                <div class="col-md-6 col-sm-12 head-item">
                    <a href="blog-post.html"><img class="head-image " src="images/index.jpeg"></a>
                    <a href="blog-post.html"><div class="head-bg"></div></a>
                    <div class="head-text">
                        <div class="category"><p>Trees</p></div>
                        <h3><a href="blog-post.html" class="news-head">Simple and beauty</a></h3>
                        <div class="created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                    </div>
                </div>
                <!--/HeadItem-->
              </div>
          </div>
        </div>
        <!--/Header Posts-->
      </header>


      <content>
        
        <div class="container content-sec">
            <div class="row">
                <!--List Section-->
                <div class="col-md-8 col-sm-8 col-lg-8">
                    <div class="container">
                        <div class="row">
                          
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                          <!--ListItem-->
                          <div class="col-md-8 col-lg-5 list-item">
                            <div class="card" style="width: 18rem;">
                              <a href="blog-post.html"><img src="images/index.jpeg" class="card-img-top" alt="..."></a>
                                <a href="blog-post.html"><div class="list-item-bg"></div></a>
                                <div class="card-body">
                                  <h4><a href="blog-post.html">Something about plants</a></h4>
                                  <p class="card-text"><a href="blog-post.html">Some quick example text to build on the card title and make up the bulk of the card's con...</a></p>
                                  <div class="list-created"><p>Created: 2020.02.24 by Max Frolow</p></div>
                                </div>
                              </div>
                          </div>
                          <!--/ListItem-->
                       
                      </div>

                      <!--Pagination-->
                      <nav aria-label="...">
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item active">
                            <span class="page-link">
                              2
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>
                      <!--/Pagination-->
                    </div>
                </div>
                <!--/List Section-->

                <!--Side Bar-->
                <div class="col-md-3 col-sm-3 col-lg-3 side-bar">
                  
                  <!--Tag Panel-->
                  <div class="tag-panel">
                    <p class="tag-paragraph">
                      <a class="tag" href="catalog.html">Tree</a>
                      <a class="tag" href="catalog.html">Flower</a>
                      <a class="tag" href="catalog.html">Cactus</a>
                      <a class="tag" href="catalog.html">Liana</a>
                      <a class="tag" href="catalog.html">Big_Leaves</a>
                      <a class="tag" href="catalog.html">Unassuming</a>
                      <a class="tag" href="catalog.html">Tree</a>
                      <a class="tag" href="catalog.html">Flower</a>
                      <a class="tag" href="catalog.html">Cactus</a>
                      <a class="tag" href="catalog.html">Liana</a>
                      <a class="tag" href="catalog.html">Big_Leaves</a>
                      <a class="tag" href="catalog.html">unassuming</a>
                    </p>                 
                  </div>  
                  <!--/Tag Panel-->
                  <div class="favorite-bar">
                    <h4>Favorites Posts</h4>
                    <!--Favorite Post-->
                    <div class="favorite">
                      <img class="favorite-image" src="images/index.jpeg">
                      <a href="#"><div class="favorite-bg"></div></a>
                      <div class="favorite-text">
                        <h5><a href="#">Favorite post</h5></a>
                        <p><a href="#">Few words from favorite post</a></p>
                      </div>
                    </div>
                    <!--/Favorite Post-->

                    <!--Favorite Post-->
                    <div class="favorite">
                      <img class="favorite-image" src="images/index.jpeg">
                      <a href="#"><div class="favorite-bg"></div></a>
                      <div class="favorite-text">
                        <h5><a href="#">Favorite post</h5></a>
                        <p><a href="#">Few words from favorite post</a></p>
                      </div>
                    </div>
                    <!--/Favorite Post-->

                    <!--Favorite Post-->
                    <div class="favorite">
                      <img class="favorite-image" src="images/index.jpeg">
                      <a href="#"><div class="favorite-bg"></div></a>
                      <div class="favorite-text">
                        <h5><a href="#">Favorite post</h5></a>
                        <p><a href="#">Few words from favorite post</a></p>
                      </div>
                    </div>
                    <!--/Favorite Post-->
                  </div>
                </div>
                <!--/Side Bar-->
            </div>
        </div>



      </content>

      <footer>
        <div class="footer-content">
        <div class="container">
          <div class="row">
  
            <div class="col-md-4 col-lg-4 col-sm-12 footer-logo">
              <h2><a href="main.html">©2020 Plant Place</a></h2>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 footer-links">
              <h5>Find by Tags</h5>
              <ul class="footer-links-list">
                <li><a class="footer-link" href="catalog.html">Trees</a></li>
                <li><a class="footer-link" href="catalog.html">Cactuses</a></li>
                <li><a class="footer-link" href="catalog.html">Flowers</a></li>
                <li><a class="footer-link" href="catalog.html">Big Leavs</a></li>
                <li><a class="footer-link" href="catalog.html">Unassuming</a></li>
                <li><a class="footer-link" href="catalog.html">Liana</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 footer-advertisement-q">
              <h4><a href="contact-us.html">Contact us</a></h4>
              <p><a href="contact-us.html">If you saw some mistakes or have a questions you can write us. Just click here.</a></p>
            </div>
          </div>
        </div>
      </div>
      </footer>






        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>

        
        <script>
            function hider(el_hover, el_hider){}
            $(document).ready(function(){
              $('.dropdown-submenu a.test').on("mouseover", function(e){
                  $(this).next('ul').toggle(true);
                  e.preventDefault();
                  e.stopPropagation();
              });
            });
            $(document).ready(function(){
              $('.dropdown-submenu a.test ').on("mouseout", function(e){
                if($('.inside-menu:hover').length !=0){
                    $(this).next('ul').toggle(true);
                }else{
                    $(this).next('ul').toggle(false);
                }
              });
            });
            $(document).ready(function(){
              $('.inside-menu ').on("mouseout", function(e){
                if($('.inside-menu:hover').length !=0){
                    $(this).toggle(true);
                }else{
                    $(this).toggle(false);
                }
              });
            });
            
    


            </script>
  </body>
</html>
